.container {
  border: 2px solid #929ecc;
  border-radius: 5px;
  background-color: #e7ecff;
  margin: 100px 10px;
  min-height: 400px;
}

.text {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.link {
  display: block;
  text-align: center;
  font-size: 24px;
  color: black;
  text-decoration-line: underline;

  /* margin: 0 auto; */
}
