.navbarContainer {
  height: 10vh;
  padding-left: 2vh;
  overflow-x: hidden;
  /* width: 100%; */
  background-color: white;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
}

.navbarLogo {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  color: rgb(9, 31, 67);
}

.navbarWrapper {
  /* border: 1px solid rgb(251, 255, 0); */
  width: 40%;

  /* margin-right: 25px; */
}

.navbar {
  /* border: 1px solid black; */
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbarText {
  text-decoration: none;
  color: rgb(9, 31, 67);
}

.hamburger {
  /* width: 55px; */
  margin: auto 0;
  margin-right: 15px;
  /* border: 3px solid orange; */
  display: none;
  /* margin: auto; */
}

.hamburger > div {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .hamburger {
    display: block;
  }
  .navbarContainer {
    height: 6vh;
    align-items: center;
  }
  .navbarWrapper {
    position: fixed;
    top: 6vh;
    right: 0;
    width: 100%;
    height: 94vh;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    background-color: white;
  }
  .navbarLogo {
    letter-spacing: 2px;
  }

  .navbar {
    margin: 0;
    padding: 0;
    flex-direction: column;

    width: 100%;
    height: 94vh;
    font-size: 24px;
    justify-content: unset;
  }
  .navbarText {
    color: rgb(9, 31, 67);

    display: inline-block;
    margin: 2vh;
  }
}

.navbarActive {
  transform: translateX(0%);
}

.navbarScroll {
  position: sticky;
  top: 0;
  /* width: 100%; */
  /* padding-left: 2vh; */
  /* background-color: white; */
  box-shadow: 0px 1px 8px -5px rgba(0, 0, 0, 0.836);
  /* transition: all 0.1s ease; */
  transition: 0.8s all ease;
  /* background-color: #e9ebec; */
}

.toggle .arrow1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .arrow2 {
  opacity: 0;
}

.toggle .arrow3 {
  transform: rotate(45deg) translate(-3px, -4px);
}
